configuration {
    location:               0;
    fixed-num-lines:         false;
    show-icons:              true;
    scroll-method:           1;
    window-format:           "[{w}] ··· {c} ···   {t}";
    click-to-exit:           true;
}

* {
    font:                    "JetBrainsMono Nerd Font Bold 12";
    foreground:              #dddddd;
    selected:                #dddddd;
    active:                  #d0ddd6;
    urgent:                  #f38ba8;
    dimmed-foreground:       #bbbbbb;
    off:                     #bbbbbb;
    on:                      #ffffff;
    background:              rgba(0,0,0,0.5); 
    // border-color:            @foreground;
    border-radius:           10px;
    // border: 1px;
}

window {
    location:                north;
    margin:                  9px 0px 0px 0px;
    width:                   600px;
    height:                  0px;
    background-color:        transparent;  // transparent so items float
}

mainbox {
    background-color:        @background;// only window is transparent
    //background-color:        transparent;  // transparent so items float
    spacing:                 6px;
    padding:                 10px;
}

listview {
    //background-color:        @background;
    background-color:        transparent;  // transparent so items float
    lines:                   15;
    columns:                 1;
    fixed-height:            0;
    spacing:                 0px;
    scrollbar:               false;
    padding:                 0px;
}
  
scrollbar {
    handle-width: 0px;
    background-color: transparent;
}
handle {
    background-color: transparent;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

inputbar {
    background-color:        @background;
    margin:                  0px 0 1px 0;
}
prompt{
    background-color:        transparent;  // transparent search field
    padding:                 6px 2px 6px 2px;
}
entry {
    background-color:        transparent;  // transparent search field
    text-color:              @dimmed-foreground;
    padding:                 6px 2px 6px 2px;
    expand: true;
    width: 100%;

}
case-indicator {
    background-color:        transparent;  // transparent search field
}

element-text, element-icon {
    background-color:        inherit;
    text-color:              inherit;
}

element {
    background-color:        transparent;  // make all list elements transparent
    padding:                 6px;
}

element normal.normal {
    background-color:        transparent;
    text-color:              @foreground;
}

element normal.urgent {
    background-color:        transparent;
    text-color:              @urgent;
}

element normal.active {
    background-color:        transparent;
    text-color:              @active;
}

element selected.normal {
    background-color:        white;   // selected item stands out
    text-color:              black;
    border-color:            @selected;
    border:                  1px;
}

element selected.urgent {
    background-color:        @urgent;
    text-color:              white;
}

element selected.active {
    background-color:        @active;
    text-color:              #313244;
}

element alternate.normal {
    background-color:        transparent;
    text-color:              @foreground;
}

element alternate.urgent {
    background-color:        transparent;
    text-color:              @urgent;
}

element alternate.active {
    background-color:        transparent;
    text-color:              @active;
}

